.idea
.ipynb_checkpoints

data/*.npy
data/*.npz
data/*.bak

output/*.xlsx
output/*.csv
output/*
!output/.gitkeep

checkpoints/**/*.pth
checkpoints/**/*.h5
*.pth
*.h5

logs/**/*
!logs/.gitkeep
log/*.log
log/.gitkeep

__pycache__

/*.zip